#intro{
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    
    position: relative;
}

.bg{
    position: absolute;
    width: 70vh;
    height: 70vh;
    overflow: hidden;
    
    object-fit: cover;
    border-radius: 50%;
    z-index: -1;
    right: 0;
    top: 3.5rem;
    
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;

}
.introName{
    color: yellow;

}
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;

}
.btn:hover{
    background-color: lightgray;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
@media screen and (max-width:480px){
    .bg{
        right: -20vw;
    }
   
}